<h1>Create notice</h1>

<%= form_for @notice do |f| %>

  <div class="form-group">
    <%= f.label :category %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br />
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :contacts %><br />
    <%= f.text_field :contacts, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>