<%= link_to 'List of all notices', root_path %> > <%= @notice.title %>

<h1><%= @notice.title %></h1>

<p>
  Category: <%= link_to @notice.category.name, category_path(@notice.category) %>, by: <%= @notice.user.name %>
</p>

<p>
  <b>Details:</b><br />
  <%= @notice.description %>
</p>

<p>
  <b>Contacts:</b><br />
  <%= @notice.contacts %>
</p>

<p>
  <% if current_user == @notice.user %>
    <%= link_to 'Edit notice', edit_notice_path, class: 'btn btn-primary' %>
    <%= link_to 'Delete notice', notice_path(@notice), method: :delete, class: 'btn btn-danger' %>
  <% end %>
</p>