<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li><%= link_to 'All notices', root_path %></li>
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, category_path(category) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8">

    <% @notices.each do |notice| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Category: <%= link_to notice.category.name, category_path(notice.category) %></p>
          <h4><%= link_to notice.title, notice_path(notice) %></h4>
          <p>by: <%= notice.user.name %></p>
        </div>
      </div>
    <% end %>

  </div>
</div>